@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
  position: relative;
}

.container {
  max-width: 125rem;
  margin: 1.5rem auto;
  height: 90vh;
  padding: 1rem;
  background-color: #fdc7a2;
  border-radius: 2rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  border-bottom: 0.2rem solid black;
  padding-bottom: 1rem;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  font-size: 1.5rem;
}

.navigation li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1rem;
}

.navigation li:first-child {
  border-right: 0.2rem solid black;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
}

.main-container p {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.cards {
  display: grid;
  max-width: 50rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.cards img {
  width: 10rem;
  height: auto;
  border: 0.3rem solid #7d3a0b;
  border-radius: 20rem;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 1rem;
}

footer img {
  width: 2rem;
  height: auto;
}
